* {
  position: fixed;
  background: #23384B;
}

div {
  inset: 100px 330px 100px 30px;
  background: #F0CD48;
  box-shadow: 60px 0 #F0CD48, 120px 0 #F0CD48, 180px 0 #F0CD48, 240px 0 #F0CD48, 300px 0 #F0CD48;
}

div::before, div::after {
  position: fixed;
  content: '';
  inset: 40px 30px 220px;
  border-inline: 100px solid #F0CD48;
}

div::after {
  inset: 220px 30px 40px;
}
