body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #E0E7FF;
}

.a, .b {
  width: 30px;
  height: 75px;
  background: #4F77FF;
}

.b {
  width: 182px;
  height: 30px;
  clip-path: polygon(0 100%, 16% 0, 84% 0, 100% 100%)
}

#c {
  rotate: 180deg;
}
