* {
  background: #48BF7D;
  position: fixed;
}

div {
  inset: 50px 155px 50px 185px;
  background: #FEFF58;
  border-left: 30px solid #3E5AA9;
}

div::before {
  position: absolute;
  content: "";
  inset: 0 60px 0 -130px;
  border: 30px solid #FEFF58;
  border-right: 0;
  border-radius: 99px 0 0 99px;
}

div::after {
  position: absolute;
  content: "";
  inset: 170px -30px 0 9px;
  background: #FEFF58;
}
