body {
  background-color: #6255AA;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container {
  width: 150px;
  height: 220px;
  transform: translateY(32px);
  background: #D96E9F;
  grid-column: 2/3;
}
.hollow {
  background-color: #6255AA;
  width: 90px;
  height: 160px;
  transform: translateX(30px) translateY(30px)
}
.corner {
  width: 30px;
  height: 100px;
  background-color: #D96E9F;
  transform: translateX(60px);
}
