body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373794;
}

.head {
  width: 200px;
  height: 86px;
  background: #373794;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.leftBrow {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100px;
  height: 70px;
  background-color: #0E0E39;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 75px;
  transform: translateX(1px);
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.rightBrow {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 100px;
  height: 70px;
  background-color: #0E0E39;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 100px;
  transform: translateX(-1px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #F3AC3C;
  width: 90px;
  height: 90px;
  z-index: 0;
  transform: translateX(55px) translateY(-20px);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.leftEye {
  width: 29px;
  height: 20px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  grid-row: 2/3;
  transform: translateX(65px) translateY(4px);
}

.rightEye {
  width: 29px;
  height: 20px;
  background-color: #FFFFFF;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  grid-row: 2/3;
  transform: translateX(-30px) translateY(14px);
}

.cheeks {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 80px;
  height: 40px;
  background-color: #0E0E39;
  transform: translateY(64px);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chin {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 55px;
  height: 63px;
  background-color: #F3AC3C;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.teeth {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 40px;
  height: 20px;
  background-color: #FFFFFF;
  transform: translateY(4px);
  border-radius: 36px;
}
