body {
  background: #D95362;
}

#a {
  position: absolute;
  inset: 40px 125px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1.13fr 1fr;
  gap: 35px 0;
}

#b {
  grid-row: 1/4;
  background: #FDFFE9;
}

.c {
  width: 50px;
  justify-self: end;
  border-radius: 50%;
  background: #FDFFE9;
}
