body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background: #515697;
}
  
#a {
  width: 360px;
  height: 288px;
  border-radius: 200px 200px 0 0;
  background: #E38F66;
  display: flex;
  justify-content: center;
  align-items: end;
}

#b {
  width: 360px;
  height: 72px;
  display: flex;
}

#c {
  flex-shrink: 1;
  flex-basis: 500px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

#e {
  background: #515697;
  flex-basis: 36px;
}
