* {
  background: #00D47E;
}

div {
  position: fixed;
  inset: 20px 340px 240px 20px;
  background: #23384B;
  box-shadow: 80px 0 #23384B, 160px 0 #23384B, 240px 0 #23384B, 320px 0 #23384B, 40px 40px #23384B, 120px 40px #23384B, 200px 40px #23384B, 280px 40px #23384B, 40px 180px #23384B, 120px 180px #23384B, 200px 180px #23384B, 280px 180px #23384B, 80px 220px #23384B, 160px 220px #23384B, 240px 220px #23384B, 320px 220px #23384B, 0 220px #23384B;
}
