* {
  position: fixed;
  background: #282828;
}

#a, #b {
  inset: 30px 120px;
  background: #F9DDC6;
}

#a::before, #b::before, #b::after {
  position: absolute;
  content: "";
  inset: 0 25%;
  background: #282828;
}

#b::after {
  inset: 33.2% 0;
}

#b {
  rotate: 90deg;
}
