body {
  position: relative;
  background: #3F4869
}

#a {
  position: absolute; 
  inset: 62px 112px;
  border: 30px #61A74E solid;
  border-radius: 50%;
}

#b {
  position: relative;
  width: 30px;
  height: 80px;
  background: #61A74E;
  bottom: 50px;
  left: 35px;
}
