* {
  background: #6592CF;
  position: fixed;
}

#a {
  inset: 70px 140px 70px 100px;
  background: #F7CB71;
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%)
}

#a::before{
  position: absolute;
  content: "";
  inset: 66px 106px 66px 26px;
  background: #FEFEFF;
  rotate: 45deg;
}

#b {
  inset: 110px 100px 110px 170px;
  background: #F7CB71;
  clip-path: polygon(0 0, 100% 0, 90px 50%, 100% 100%, 0 100%)
}
