body, .container, .this1 {
  display: grid;
  justify-content: center;
  align-content: center;
}

body {
  background: #F3AC3C;
}

.container {
  width: 160px;
  height: 104px;
  transform: translateY(3px);
  background: #F3AC3C;
}

.top {
  width: 80px;
  height: 18px;
  transform: translateY(34px);
  background: #998235;
}

.vertical {
  width: 50px;
  height: 90px;
  transform: translateY(30px) translateX(15px);
  border-bottom-right-radius: 31px;
  background: #998235;
}

.leftBit {
  width: 56px;
  height: 45px;
  transform: translateY(-15px) translateX(-40px);
  border-bottom-left-radius: 30px;
  background: #998235;
}

.this1 {
  width: 55px;
  height: 20px;
  transform: translateY(-66px) translateX(-40px);
  background: #F3AC3C;
}

.this2 {
  width: 49px;
  height: 30px;
  transform: translateY(19px) translateX(3px);
  border-bottom-right-radius: 31px;
  border-bottom-left-radius: 31px;
  background: #F3AC3C;
}
