body {
  background: #FADE8B;
  position: relative;
}

#a, #b, #c {
  position: absolute;
  inset: 212px 67px 42px 67px;
  background: #222222;
}

#b {
  inset: 190px 142px 42px 142px;
}

#c {
  inset: 72px 122px 72px 122px;
  border-radius: 50%;
  border: 30px solid #FADE8B;
}
