body {
  position: relative;
  background: #FAE29E;
}

#a {
  position: absolute;
  display: flex;
  gap: 32px;
  inset: 72px 90px;
}

#b, #c {
  flex: 1;
  background: #EA9A52;
}

#b {
  clip-path: polygon(0 50%, 100% 0, 100% 100%)
}

#c {
  clip-path: polygon(0 0, 100% 50%, 0 100%)
}
