* {
  background: #48BF7D;
  position: fixed;
}

#b {
  inset: 115px 165px;
  background: #394257;
  rotate: 45deg;
}

#b::before {
  position: absolute;
  content: "";
  inset: 0 0 50% 50%;
  background: #48BF7D;
  border-radius: 0 0 0 10px;
}

#a {
  inset: 100px 125px 100px 225px;
  background: #394257;
  clip-path: polygon(0 0, 100% 50%, 0 100%)
}
