* {
  position: fixed;
  background: #51A499;
}

#a, #b {
  inset: 50px 140px;
  background: #EAC049;
}

#a::before, #b::before, #b::after {
  position: absolute;
  content: "";
  inset: 0 33%;
  background: #282828;
}

#b::after {
  inset: 40% 0;
}

#b {
  rotate: 90deg;
}
