body {
  margin: 0;
  position: relative;
  background: #ECD5E4;
}

.b {
  background: #984842;
  position: absolute;
  width: 60px;
  height: 30px;
}

#a {
  right: 0;
  top: 0;
}

#c {
  left: 0;
  bottom: 0;
}

#d {
  bottom: 0;
  right: 0;
}

#e {
  background: #984842;
  position: absolute;
  inset: 105px 110px 105px 110px;
}
