body {
  background: #46BA67;
  margin: 0;
  height: 100vh;
}

#a {
  position: fixed;
  inset: 170px 280px 0 80px;
  background: #4C4C6B;
}

#a div {
  position: fixed;
  inset: 130px 280px 130px 80px;
  background: #FAE29E;
  border-radius: 50%;
}

#b {
  position: fixed;
  inset: 170px 80px 0 280px;
  background: #4C4C6B;
}

#b div {
  position: fixed;
  inset: 130px 80px 130px 280px;
  background: #FAE29E;
  border-radius: 50%;
}

#c {
  position: fixed;
  inset: 0 180px 170px 180px;
  background: #FAE29E;
}

#c div {
  position: fixed;
  inset: 130px 180px 130px 180px;
  background: #4C4C6B;
  border-radius: 50%;
}
