* {
  background: #4FC1AD;
  position: fixed;
}

#a {
  inset: 50px 20px;
  border: 40px solid #4C455B;
}

#b, #c {
  inset: 0 260px 50px 100px;
  border-top: 50px solid #4C455B;
  border-bottom: 160px solid #4C455B;
}

#c {
  inset: 0 100px 50px 260px;
}
