body {
  margin: 0;
  background: #F9DDC6;
  border-inline: 90px solid #594C94;
  border-block: 11px solid #594C94;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 278px;
}

div {
  width: 194px;
  height: 26px;
  background: #594C94;
}

div:nth-child(2) {
  align-self: end;
}
