* {
  position: fixed;
  background: #423F36;
}

#a {
  inset: 100px 0;
  background: #FEFF58;
}

#a::before, #a::after {
  position: absolute;
  content: "";
  inset: 20px 275px 20px -120px;
  border-radius: 50%;
  background: #D94E4E;
}

#a div {
  position: absolute;
}

#a::after {
  inset: 20px -120px 20px 275px;
  background: #3E5AA9;
}

#a div {
  width: 90px;
  height: 90px;
  right: 155px;
  top: 68px;
  border-radius: 20px;
  rotate: 45deg;
}
